.styleweb1{
    background-color: turquoise;
    padding: 12px;
}
.styleweb2{
    text-align: right;
    font-size: 20px;
    font-family: Laksaman;
}
.styleimg{
    margin-left: 370px;
}
.tttt{
    padding-left: 150px;
}
.styleweb3{
    padding: 12px;
}
.styleweb4{
    padding: 12px;
}
.styleinput{
    width: 70%;
    margin: 15px;


}