ul{
    list-style-type: none;
    margin-left: 10px;
    padding: 10px;
    background-color: plum;
    width: 200px;
}

li a{
    padding: 10px 16px;
    text-decoration: none;
    display: inline-block;
    color: black;

}